.recent-jobs {
  display: flex;
  flex-direction: column;
}

.recent-jobs h2 {
  text-decoration: underline;
  color: rgb(73, 73, 73);
}

.recent-jobs__list {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.2rem;
  max-width: 100%;
}

.recent-jobs__list li {
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
}

.recent-jobs__list a {
  text-decoration: none;
  color: rgb(92, 92, 92);
}

.recent-jobs__list a:hover {
  text-decoration: none;
  color: rgb(54, 54, 54);
}
