.job-details-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  width: 90%;
}

.job-header {
  display: flex;
  flex-direction: column;
}

.job-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
}

.job-icon-table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}

.job-icon-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-bottom: 1px solid rgb(192, 192, 192);
  width: 70%;
  height: auto;
  word-wrap: wrap;
}

.job-text-cell {
  height: 4rem;
  margin-top: 1rem;

  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.job-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.job-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
}

.job-info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  border: 1px solid rgb(216, 216, 216);
}

.job-info-icon {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.job-info-label {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5rem;
}

.job-info-value {
  font-size: 1.2rem;
  text-align: center;
}

.job-description {
  width: 100%;
  height: auto;
}

.job-description-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.job-description-text {
  font-size: 1.2rem;
  line-height: 1.5;
}
