.job-filter {
  margin: 1rem auto;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.job-filter__group {
  display: grid;
  grid-auto-columns: auto;
}

.job-filter h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.job-filter label {
  display: inline-block;
  font-weight: bold;
}

.job-filter input,
.job-filter select {
  display: block;
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
