.job-item {
  margin: 1rem auto;
}

.job-item:hover {
  background-color: #fafafa;
  border: 1px solid rgb(192, 192, 192);
}

.featured {
  border: 1px solid gold;
  background-color: rgb(255, 251, 228);
}
.featured:hover {
  border: 1px solid gold;
  background-color: rgb(250, 242, 198);
}

.job-item__content {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.job-item__header {
  display: flex;
}

.job-item__company-logo {
  width: 3rem;
  margin-right: 1.5rem;
}

.job-item__company-logo img {
  width: 100%;
  height: auto;
  padding: 1rem;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 8px;
}

.job-item__info {
  padding: 1rem;
  text-align: left;
  flex-grow: 1;
}

.job-item__info h2,
.job-item__info h3,
.job-item__info p,
.job-item__info a {
  margin: 0 0 0.5rem 0;
  color: #252525;
  text-decoration: none;
}
/*parent container for all icons*/

.job-items-icons__info {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-auto-rows: auto;
  align-items: stretch;
  gap: 5px;
  text-align: center;
  color: #515151;
}

.job-items-icon__info > * {
  flex-basis: 80%;
}

.job-item-icon__location {
  grid-column: 1/2;
}

.job-item-icon__hours {
  grid-column: 2/3;
}
.job-item-icon__salary {
  grid-column: 3/4;
}

.job-item__actions {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #ccc;
}

.job-item__actions button,
.job-item__actions a {
  margin: 0.5rem;
}

@media (min-width: 768px) {
  .job-item__company-logo {
    max-width: 20rem;
  }
}
